.MuiTooltip-tooltip {
    padding: 10px 15px !important;
    font-size: 1rem !important;
    line-height: 1.5em !important;
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.35);
}

.MuiTooltip-arrow {
    box-shadow: 0 0 9px -4px white;
    color: #000;
}

.MuiSelect-select:focus {
    border-radius: inherit !important;
    background-color: inherit !important;
}

.MuiChip-label {
    line-height: 1;
}

nav[aria-label="Navigation Tabs"] li[class*="linkMainSelected"] {
    background-color: #2ccfe2 !important;
}

nav[aria-label="Navigation Tabs"] li[class*="linkSelected"] .Mui-selected * {
    color: #2ccfe2 !important;
}

div[class*="SnackbarItem-variantWarning"] {
    color: #000;
}

.react-transform-wrapper, .react-transform-component {
    width: 100% !important;
    height: auto !important;
}

