.MuiTooltip-tooltip {
    padding: 0.375rem 0.75rem !important;
    font-size: 0.8125rem !important;
}

.MuiSelect-select:focus {
    border-radius: inherit !important;
    background-color: inherit !important;
}

.MuiChip-label {
    line-height: 1;
}

nav[aria-label="Navigation Tabs"] li[class*="linkMainSelected"] {
    background-color: #2ccfe2 !important;
}

nav[aria-label="Navigation Tabs"] li[class*="linkSelected"] .Mui-selected * {
    color: #2ccfe2 !important;
}

div[class*="SnackbarItem-variantWarning"] {
    color: #000;
}

.react-transform-wrapper, .react-transform-component {
    width: 100% !important;
    height: auto !important;
}

