.MuiPaper-root {
    border-radius: 0.3125rem !important;
}

.MuiOutlinedInput-root {
    border-radius: 0.3125rem !important;
}

.MuiButton-text, .MuiButton-contained, .MuiButton-outlined {
    border-radius: 0.3125rem !important;
}

.MuiTooltip-tooltip {
    border-radius: 0.3125rem !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 0.8125rem !important;
}

.MuiSelect-select:focus {
    border-radius: inherit !important;
    background-color: inherit !important;
}

.MuiChip-label {
    line-height: 1;
}