.MuiSelect-select:focus {
    border-radius: inherit !important;
    background-color: inherit !important;
}

.MuiChip-label {
    line-height: 1;
}

.react-transform-wrapper, .react-transform-component {
    width: 100% !important;
    height: auto !important;
}

main#main {
    min-width: 0;
}

